<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html" charset="utf-8" http-equiv="content-type">
    <title></title>
  </head>
  <body>
    <h1>Welcome to App Academy!</h1>
    <p>You're gonna die.</p>
  </body>
</html>
