<h1>New User</h1>

<form action= "<%= users_url %>" method="post">
  <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
          
  <label for="user_name">Name</label>
  <input type="text" name="user[user_name]">

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="Submit">
</form>
